/* use strict */

.styles__sidebar___1XqWi-camelCase {
  background-color: #000000;
}

.styles__left___9beun-camelCase {
  background-color: #000000;
}

.styles__postsContainer___39_IQ-camelCase {
  background-color: #000000;
}

.styles__middleWrapper___hjUyY-camelCase {
  background-color: #000000;
}

.styles__header___22Ne2-camelCase {
  background-color: #000000;
}

.styles__container___2VzTy-camelCase {
  background-color: #000000;
}

.styles__input___2XTSp-camelCase {
  background-color: #000000;
}

.styles__editHeaderContainer___2G1ji-camelCase {
  background-color: #000000;
}

.styles__background___2J-JA-camelCase {
  background-color: #0e0e0e;
}

.styles__blookGridContainer___AK47P-camelCase {
  background-color: #0e0e0e;
}

.styles__headerBadges___ffKa4-camelCase {
  background-color: #242424;
}

.styles__statsContainer___QnrRB-camelCase {
  background-color: #242424;
}

.styles__profileContainer___CSuIE-camelCase {
  background-color: #242424;
}

.styles__tokenBalance___1FHgT-camelCase {
  background-color: #242424;
}

.styles__infoContainer___2uI-S-camelCase {
  background-color: #242424;
}

.styles__header___2O21B-camelCase {
  background-color: #242424;
}

.styles__cardContainer___NGmjp-camelCase {
  background-color: #242424;
}

.styles__plan___1OEy4-camelCase {
  background-color: #242424;
}

.styles__perkContainer___2rw2I-camelCase {
  background-color: #242424;
}

.styles__headerSide___1r1-b-camelCase {
  background-color: #242424;
}

.styles__signUpButton___3_ch3-camelCase {
  background-color: #242424;
}

.styles__loginButton___1e3jI-camelCase {
  background-color: #242424;
}

.styles__chatEmojiButton___8RFa2-camelCase {
  background-color: #242424;
}

.styles__button___2hNZo-camelCase {
  background-color: #242424;
}

.styles__tradingContainer___B1ABS-camelCase {
  background-color: #242424;
}

.styles__otherTokenAmount___SEGGS-camelCase {
  background-color: #242424;
}

.styles__myTokenAmount___ANKHA-camelCase {
  background-color: #242424;
}

.styles__horizontalBlookGridLine___4SAvz-camelCase {
  background-color: #242424;
}

.styles__verticalBlookGridLine___rQWaZ-camelCase {
  background-color: #242424;
}

.styles__profileDropdownMenu___2jUAA-camelCase {
  background-color: #242424;
}

.styles__profileDropdownOption___ljZXD-camelCase {
  background-color: #242424;
}

.styles__button___2hNZo-camelCase {
  color: #b1b1b1;
}

.styles__pageButton___1wFuu-camelCase {
  color: #727272;
}

.styles__bottomIcon___3Fswk-camelCase {
  color: #727272;
}

.styles__containerHeaderInside___2omQm-camelCase {
  color: #727272;
}

.styles__statNum___5RYSd-camelCase {
  color: #727272;
}

.styles__statContainer___QKuOF-camelCase {
  background-color: #222222;
}

.styles__containerHeaderInside___2omQm-camelCase {
  background-color: #222222;
}

.styles__containerHeader___3xghM-camelCase {
  background-color: #222222;
}

.styles__containerHeaderRight___3xghM-camelCase {
  background-color: #222222;
}

#chatBox {
  background-color: #252525;
}

.styles__chatInputContainer___gkR4A-camelCase {
  background-color: #252525;
}

.styles__setText___1PQLQ-camelCase {
  color: #b1b1b1;
}

.styles__edge___3eWfq-camelCase {
  background-color: #000000;
  border-color: #000000;
}

.styles__buttonFilled___23Dcn-camelCase {
  background-color: #000000;
  border-color: #000000;
}

.styles__lockedBlook___3oGaX-camelCase {
  filter: brightness(0.3);
}

.styles__bazaarItems___KmNa2-camelCase {
  background-color: rgba(0, 0, 0, 0.33);
}

.styles__bazaarItem___Meg69-camelCase {
  background-color: #1f1f1f;
}

.styles__container___3St5B-camelCase {
  background-color: #252525;
}

.styles__chatInputBox___fvMA4-camelCase {
  background-color: #000000;
}
