/* use strict */

.styles__sidebar___1XqWi-camelCase,
.styles__left___9beun-camelCase,
.styles__postsContainer___39_IQ-camelCase,
.styles__middleWrapper___hjUyY-camelCase,
.styles__header___22Ne2-camelCase,
.styles__container___2VzTy-camelCase,
.styles__input___2XTSp-camelCase,
.styles__editHeaderContainer___2G1ji-camelCase,
.styles__container___1BPm9-camelCase {
  background-color: #000000;
}

.styles__background___2J-JA-camelCase,
.styles__background___2J-JA-camelCase,
.styles__blookGridContainer___AK47P-camelCase {
  background-color: #0e0e0e;
}

.styles__headerBadges___ffKa4-camelCase,
.styles__statsContainer___QnrRB-camelCase,
.styles__profileContainer___CSuIE-camelCase,
.styles__tokenBalance___1FHgT-camelCase,
.styles__infoContainer___2uI-S-camelCase,
.styles__header___2O21B-camelCase,
.styles__cardContainer___NGmjp-camelCase,
.styles__plan___1OEy4-camelCase,
.styles__perkContainer___2rw2I-camelCase,
.styles__headerSide___1r1-b-camelCase,
.styles__signUpButton___3_ch3-camelCase,
.styles__loginButton___1e3jI-camelCase,
.styles__chatEmojiButton___8RFa2-camelCase,
.styles__button___2hNZo-camelCase,
.styles__tradingContainer___B1ABS-camelCase,
.styles__otherTokenAmount___SEGGS-camelCase,
.styles__myTokenAmount___ANKHA-camelCase,
.styles__horizontalBlookGridLine___4SAvz-camelCase,
.styles__verticalBlookGridLine___rQWaZ-camelCase,
.styles__profileDropdownMenu___2jUAA-camelCase,
.styles__profileDropdownOption___ljZXD-camelCase {
  background-color: #242424;
}

.styles__button___2hNZo-camelCase {
  color: #b1b1b1;
}

.styles__pageButton___1wFuu-camelCase,
.styles__bottomIcon___3Fswk-camelCase,
.styles__containerHeaderInside___2omQm-camelCase,
.styles__statNum___5RYSd-camelCase {
  color: #727272;
}

.styles__statContainer___QKuOF-camelCase,
.styles__containerHeaderInside___2omQm-camelCase,
.styles__containerHeader___3xghM-camelCase,
.styles__containerHeaderRight___3xghM-camelCase {
  background-color: #222222;
}

#chatBox,
.styles__chatInputContainer___gkR4A-camelCase  {
  background-color: #252525;
}

.styles__setText___1PQLQ-camelCase {
  color: #b1b1b1;
}

.styles__edge___3eWfq-camelCase,
.styles__buttonFilled___23Dcn-camelCase {
  background-color: #000000;
  border-color: #000000;
}

.styles__lockedBlook___3oGaX-camelCase {
  filter: brightness(0.3);
}

#packSelector::-webkit-scrollbar {
  display: none;
}

#blookSelector::-webkit-scrollbar {
  display: none;
}

.styles__bazaarItems___KmNa2-camelCase::-webkit-scrollbar {
  display: none;
}

.styles__bazaarItems___KmNa2-camelCase {
  background-color: rgba(0, 0, 0, 0.33);
}

.styles__bazaarItem___Meg69-camelCase {
  background-color: #1f1f1f;
}

.styles__bazaarItem___Meg69-camelCase:hover {
  background-color: #afafaf;
}

.styles__container___3St5B-camelCase {
  background-color: #252525;
}

.styles__chatInputBox___fvMA4-camelCase {
  background-color: #000000;
}
