/**
 * @name           Space
 * @description    get on that ship and flyy
 * @authors        Death
 * @banner         https://i.imgur.com/7kGuzAM.jpg
 * @source         https://github.com/VillainsRule/BlacketThemes
 * @autoImportant  false
*/

#formAge,
#formBody,
#formDiscord,
.jscolor,
.jscolor-border,
.toastMessage,
.styles__bazaarItem___Meg69-camelCase,
.styles__bazaarItems___KmNa2-camelCase,
.styles__bazaarSelectorItems___KmNa2-camelCase,
.styles__bazaarSelector___Fk3Av-camelCase,
.styles__blookGridContainer___AK47P-camelCase,
.styles__cardContainer___NGmjp-camelCase,
.styles__chatEmojiPickerBody___KR4aN-camelCase,
.styles__chatInputContainer___gkR4A-camelCase,
.styles__chatRooms___o5ASb-camelCase,
.styles__containerHeaderRightFriends___3xghM-camelCase,
.styles__containerHeaderRight___3xghM-camelCase,
.styles__containerHeader___3xghM-camelCase,
.styles__container___1BPm9-camelCase,
.styles__container___2VzTy-camelCase,
.styles__container___3St5B-camelCase,
.styles__editHeaderContainer___2G1ji-camelCase,
.styles__formsContainer___Fk4Av-camelCase,
.styles__formsForm___MvA35-camelCase,
.styles__front___vcvuy-camelCase,
.styles__headerBadgeBg___12ogR-camelCase,
.styles__header___2O21B-camelCase,
.styles__infoContainer___2uI-S-camelCase,
.styles__input___2vJSW-camelCase,
.styles__left___9beun-camelCase,
.styles__middleWrapper___hjUyY-camelCase,
.styles__perkContainer___2rw2I-camelCase,
.styles__plan___1OEy4-camelCase,
.styles__plusButton___2dH73-camelCase,
.styles__postsContainer___39_IQ-camelCase,
.styles__profileContainer___CSuIE-camelCase,
.styles__profileContainer___CSuIE-camelCase:hover,
.styles__profileDropdownMenu___2jUAA-camelCase,
.styles__sidebar___1XqWi-camelCase,
.styles__signUpButton___3_ch3-camelCase,
.styles__loginButton___1e3jI-camelCase,
.styles__smallChatContainer__RT55a-camelCase,
.styles__statContainer___QKuOF-camelCase,
.styles__statsContainer___QnrRB-camelCase,
.styles__toastContainer___o4pCa-camelCase,
.styles__tokenBalance___1FHgT-camelCase,
.styles__tradingContainer___B1ABS-camelCase,
.styles__welcomeButton___39pgl-camelCase,
.styles__topRightRow___dQvxc-camelCase > :nth-child(1),
.styles__instantButton___2ezEk-camelCase,
.styles__creditsCreditContainer___bej3a-camelCase {
    border: 3px solid #6e15bd !important;
    border-radius: 10px !important;
}

#pageNumber,
#amountOfResults,
.toastMessage,
::placeholder,
.styles__bazaarItemAuthor___Fk3A1-camelCase,
.styles__bazaarItemPrice___KG4aZ-camelCase,
.styles__bazaarResultsText___g4Sxn-camelCase,
.styles__bottomIcon___3Fswk-camelCase,
.styles__buttonInside___39vdp-camelCase,
.styles__chatRoomsButton___K4ABa-camelCase,
.styles__containerHeaderInside___2omQm-camelCase,
.styles__containerHeader___19fyc-camelCase,
.styles__copyrightInformation___f4Dky-camelCase,
.styles__dateRow___1jkQT-camelCase,
.styles__formsFormBody___wRo5A-camelCase,
.styles__formsFormDiscord___r94MV-camelCase,
.styles__formsFormUsername___Vamr4-camelCase,
.styles__headerButtonInside___26e_U-camelCase,
.styles__headerIcon___1ykdN-camelCase,
.styles__headerRight___nPb83-camelCase,
.styles__header___153FZ-camelCase,
.styles__header___2O21B-camelCase,
.styles__header___kLT5x-camelCase,
.styles__iconFilled___1uSeW-camelCase,
.styles__infoHeader___1lsZY-camelCase,
.styles__input___2vJSW-camelCase,
.styles__left___9beun-camelCase,
.styles__link___5UR6_-camelCase,
.styles__logoText___1eUDm-camelCase,
.styles__middleHeader___1knI4-camelCase,
.styles__numTotal___3LQaw-camelCase,
.styles__perkIcon___3Ke37-camelCase,
.styles__perkInfo___1jvHA-camelCase,
.styles__perkTitle___3vmIt-camelCase,
.styles__planDetail___V2tYJ-camelCase,
.styles__planPrice___2fwN6-camelCase,
.styles__profileDropdownIcon___3iLIX-camelCase,
.styles__profileDropdownOption___ljZXD-camelCase,
.styles__pronounceButton___3lV1b-camelCase,
.styles__rateIcon___11Qwv-camelCase:hover,
.styles__rightButtonInside___14imT-camelCase,
.styles__statNum___5RYSd-camelCase,
.styles__statTitle___z4wSV-camelCase,
.styles__text___1L6DW-camelCase,
.styles__text___1x37n-camelCase,
.styles__text___KSL4--camelCase,
.styles__toastMessage___xar43-camelCase,
.styles__toastTitle___39Rac-camelCase,
.styles__topStats___3qffP-camelCase,
.styles__versionInformation___rk3A2-camelCase,
.styles__welcomeDesc___OyjZk-camelCase,
.styles__welcomeText___30V14-camelCase,
.styles__blooketText___1pMBG-camelCase,
.styles__chatRoomsTitle___fR4Av-camelCase,
.styles__header___WE435-camelCase,
.styles__pageIcon___3OSy9-camelCase,
.styles__pageText___1eo7q-camelCase,
.styles__buttonFilled___23Dcn-camelCase,
.styles__signUpButton___3_ch3-camelCase,
.styles__loginButton___1e3jI-camelCase,
.styles__welcomeButton___39pgl-camelCase,
.styles__termsOfServiceLink___Gk4Av-camelCase > :nth-child(1),
#requestsFriendsContainer > a[style="color: white;display: flex;justify-content: center;align-content: center;align-items: center;margin-bottom: 5px;"],
#innermodal > div[style="text-align: center;font-size: 40px;color: white;top: 10px;position: absolute;width: 100%;"] {
    color: #6e15bd !important;
}

input,
#agreeToTermsBox,
#amountOfResults,
#formBody,
.toastMessage,
.jscolor-wrap div,
.styles__bazaarItems___KmNa2-camelCase,
.styles__blookGridContainer___AK47P-camelCase,
.styles__blooksHolder___1skET-camelCase,
.styles__cardContainer___NGmjp-camelCase,
.styles__chatUploadButton___g39Ac-camelCase,
.styles__chatEmojiButton___8RFa2-camelCase,
.styles__chatEmojiPickerBody___KR4aN-camelCase,
.styles__chatEmojiPickerContainer___KR4aN-camelCase,
.styles__chatEmojiPickerHeader___FK4Ac-camelCase,
.styles__chatInputBox___fvMA4-camelCase,
.styles__chatInputContainer___gkR4A-camelCase,
.styles__chatMessageMention___2Z1ZU-camelCase,
.styles__chatRoomsButton___K4ABa-camelCase:hover,
.styles__containerHeaderInside___2omQm-camelCase,
.styles__containerHeaderRightFriends___3xghM-camelCase,
.styles__containerHeaderRight___3xghM-camelCase,
.styles__containerHeader___3xghM-camelCase,
.styles__container___1BPm9-camelCase,
.styles__container___2VzTy-camelCase,
.styles__container___3St5B-camelCase,
.styles__editHeaderContainer___2G1ji-camelCase,
.styles__formsContainer___Fk4Av-camelCase,
.styles__formsForm___MvA35-camelCase,
.styles__headerBadgeBg___12ogR-camelCase,
.styles__header___22Ne2-camelCase,
.styles__header___2O21B-camelCase,
.styles__levelBar___2SU0x-camelCase,
.styles__pageButton___1wFuu-camelCase:hover,
.styles__perkContainer___2rw2I-camelCase,
.styles__postsContainer___39_IQ-camelCase,
.styles__profileContainer___CSuIE-camelCase:hover > .styles__profileDropdownMenu___2jUAA-camelCase,
.styles__profileDropdownOption___ljZXD-camelCase,
.styles__statContainer___QKuOF-camelCase,
.styles__toastContainer___o4pCa-camelCase,
.styles__tokenBalance___1FHgT-camelCase,
.styles__tradingContainer___B1ABS-camelCase,
.styles__profileDropdownMenu___2jUAA-camelCase,
.styles__edge___3eWfq-camelCase,
.styles__planButtonInside___wAgJI-camelCase,
.styles__welcomeButton___39pgl-camelCase:hover,
.styles__bazaarItem___Meg69-camelCase,
.styles__myTokenAmount___ANKHA-camelCase,
.styles__otherTokenAmount___SEGGS-camelCase {
    background-color: #2c0b66 !important;
}

#tokenBalance,
.styles__chatInputBox___fvMA4-camelCase,
.styles__chatInputContainer___gkR4A-camelCase,
.styles__chatCurrentRoom___MCaV4-camelCase,
.styles__chatRooms___o5ASb-camelCase,
.styles__sidebar___1XqWi-camelCase,
.styles__headerSide___1r1-b-camelCase,
.styles__signUpButton___3_ch3-camelCase,
.styles__loginButton___1e3jI-camelCase,
.styles__profileContainer___CSuIE-camelCase,
.styles__topRightRow___dQvxc-camelCase > :nth-child(1),
.styles__instantButton___2ezEk-camelCase,
.styles__left___9beun-camelCase,
.styles__blooksHolder___3qZR1-camelCase,
.styles__front___vcvuy-camelCase,
.styles__infoContainer___2uI-S-camelCase,
.styles__creditsCreditContainer___bej3a-camelCase,
.styles__plan___1OEy4-camelCase,
.styles__middleWrapper___hjUyY-camelCase,
.styles__statsContainer___QnrRB-camelCase {
    background: rgba(0, 0, 0, 0.6) !important;
}

.styles__tokenContainer___3yBv--camelCase {
    background: rgba(0, 0, 0, 0.8) !important;
}

.styles__inputContainer___t9pz0-camelCase[focus-within],
.styles__inputContainer___t9pz0-camelCase:focus-within {
    border-color: #6e15bd !important;
}

.styles__profileContainer___CSuIE-camelCase {
    margin-top: 10px !important;
    margin-right: 10px !important;
}

.styles__profileDropdownMenu___2jUAA-camelCase {
    top: calc(100% - 0px) !important;
    right: -2px !important;
}

#tokenBalance {
    margin-top: 10px !important;
}

.styles__chatMessageMention___2Z1ZU-camelCase {
    border: 2px solid #6e15bd !important;
}

.styles__topRightRow___dQvxc-camelCase > :nth-child(1) {
    margin-right: 10px !important;
}

.styles__background___2J-JA-camelCase {
    background-image: url('https://i.imgur.com/smU6gbU.png') !important;
    position: fixed !important;
    top: 0 !important;
    left: 0 !important;
    background-repeat: no-repeat !important;
    background-size: cover !important;
    background-position: center !important;
}

.styles__blooksBackground___3oQ7Y-camelCase {
    display: none !important;
}

.styles__chatEmojiPickerHeader___FK4Ac-camelCase {
    width: calc(100% - 6px) !important;
    border-radius: 10px 10px 0 0 !important;
    bottom: calc(107.5% - 7.5%) !important;
}

.styles__chatEmojiPickerBody___KR4aN-camelCase {
    border-radius: 0 0 10px 10px !important;
    left: 0 !important;
    justify-content: center !important;
    padding: 10px !important;
    bottom: 0 !important;
}

.styles__chatEmojiPickerContainer___KR4aN-camelCase {
    box-shadow: none !important;
}

.styles__chatRooms___o5ASb-camelCase {
    bottom: 10% !important;
}

#agreeToTermsBox {
    border: 2px solid rgba(0, 0, 0, 0.17) !important;
}

.styles__sidebar___1XqWi-camelCase {
    margin: 10px !important;
    height: calc(100% - 20px) !important;
}

.styles__statsContainer___QnrRB-camelCase {
    margin-top: 55px !important;
}

#chatContainer {
    height: calc(100% - 105px) !important;
    margin-top: 45px !important;
}

.styles__chatCurrentRoom___MCaV4-camelCase {
    top: 0 !important;
    left: 0 !important;
    width: 50% !important;
    border-radius: 10px !important;
    display: flex !important;
    justify-content: center !important;
    align-items: center !important;
    font-size: 3vh !important;
}

.arts__profileBody___eNPbH-camelCase {
    margin-left: 20px !important;
    width: calc(100% - 250px) !important;
    height: calc(100% - 20px) !important;
    top: 10px !important;
}

.styles__planSpacer___LF8cN-camelCase {
    background-color: #6e15bd !important;
}

.styles__settingButton___2xaQu-camelCase {
    background-color: #2c0b66 !important;
    color: #6e15bd !important;
    border: 3px solid #6e15bd !important;
}

hr {
    background-color: #6e15bd !important;
    border: #6e15bd !important;
}

.styles__verticalBlookGridLine___rQWaZ-camelCase {
    background-color: #6e15bd !important;
    width: 3px !important;
}

.styles__inputContainer___2Fn7J-camelCase {
    border: none !important;
}

.styles__horizontalBlookGridLine___4SAvz-camelCase {
    background-color: #6e15bd !important;
    height: 3px !important;
}

.styles__pageButton___1wFuu-camelCase:hover {
    color: #2c0b66 !important;
}

.styles__plusButton___2dH73-camelCase {
    background: #2c0b66 !important;
    color: #6e15bd !important;
    filter: drop-shadow(0 0 3.5px rgba(24, 6, 56));
}

.styles__chatEmojiButton___8RFa2-camelCase {
    color: #6e15bd !important;
    border-radius: 10px;
    margin: 3px !important;
    height: 44px !important;
}

#amountOfResults,
.styles__buttonFilled___23Dcn-camelCase,
.styles__friendButton___gj4Ac-camelCase,
input.noplace {
    border: 3px solid #6e15bd !important;
}

.styles__friendButton___gj4Ac-camelCase {
    background-color: #2c0b66 !important;
    color: #6e15bd !important;
}

.styles__chatCurrentRoom___MCaV4-camelCase,
.styles__chatEmojiPickerHeader___FK4Ac-camelCase {
    color: #6e15bd !important;
    border: 3px solid #6e15bd !important;
}

.styles__myTokenAmount___ANKHA-camelCase,
.styles__otherTokenAmount___SEGGS-camelCase {
    border: 3px solid #2c0b66 !important;
}

.styles__chatInputContainer___gkR4A-camelCase {
    padding: 1px !important;
}

.styles__headerBadgeBg___12ogR-camelCase {
    top: -5px !important;
}

.styles__blooketText___1pMBG-camelCase {
    filter: drop-shadow(10px 3px 20px black) !important;
}

.styles__friendsAvatar___mvaW3-camelCase {
    top: 54% !important;
}

.styles__welcomeText___30V14-camelCase,
.styles__logoText___1eUDm-camelCase,
.styles__middleHeader___1knI4-camelCase {
    text-shadow: 2px 2px 8px black !important;
}

.styles__middleWrapper___hjUyY-camelCase {
    margin-top: 20px !important;
    width: calc(100% - 10px) !important;
    margin-left: 10px !important;
}

.styles__notificationIndicator___4kvmA-camelCase {
    background-color: #790c0c !important;
}

.styles__welcomeButton___39pgl-camelCase {
    transition: 0.2s !important;
}

.styles__welcomeButton___39pgl-camelCase:focus,
.styles__welcomeButton___39pgl-camelCase:hover {
    transform: scale(1.05) !important;
    background-color: transparent !important;
    color: #6e15bd !important;
}

.styles__smallChatContainer__RT55a-camelCase {
    width: 95vw !important;
    overflow: auto !important;
    position: absolute !important;
    overflow-y: scroll !important;
    height: 9.5vw !important;
    scrollbar-width: 50px !important;
    scrollbar-color: #4f4f4f #2f2f2f !important;
    background-color: rgba(0, 0, 0, 0.33) !important;
    border: black !important;
    bottom: 10.9vw !important;
    left: 2.5vw !important;
}
