/**
 * @name           Fierce
 * @description    Discord's Red/Black theme for Blacket.
 * @authors        Death
 * @banner         https://i.imgur.com/xbfzr3d.jpg
 * @source         https://github.com/VillainsRule/BlacketThemes
 * @autoImportant  false
*/

.styles__sidebar___1XqWi-camelCase {
  background-color: transparent !important;
}

.styles__background___2J-JA-camelCase {
  background-color: transparent !important;
  background: linear-gradient(270deg, rgba(2,0,36,1) 0%, rgba(235,20,20,1) 100%);
}
